.container{
    text-align: center;
    margin: 10% 10% 5px 35%;
    /* background-color: goldenrod; */
    width: 30%;
 /* display: flex; */

}


body{
    /* width: 100%; */
    background-color: blueviolet;
    /* background-image: url("https://tse4.mm.bing.net/th?id=OIP.QJ7hPss9bL9zRQRThJQSfAHaEK&pid=Api&P=0"); */
}

.label_field, .input_field{
    font-weight: bold;
    /* margin: 5%; */
}



@media screen and ( max-width: 636px)
{

    h1{

        text-align: center;
        width: 30%;
        /* height: 100%; */
        /* background-color: powderblue; */
    }

 .container{
        text-align: center;
        margin: 18% 10% 5px 35%;
        /* background-color: aqua; */
    
    }
    
    
    input{
        text-align: center;
        width: 80%;
        margin: 5%;
    }
    
}

@media screen and ( max-width: 590px)
{

    h1{

        text-align: center;
        width: 30%;
    }

 .container{
    text-align: center;
    margin: 13% 10% 5px 24%;    
    width: 46%;
    background-color: gray;
    
    }

    input{
        text-align: center;
        width: 80%;
        margin: 5%;
    }
    
}

@media screen and (max-width: 459px)
{

    h1{

        text-align: center;
        width: 30%;
        /* height: 100%; */
        /* background-color: powderblue; */
    }

 .container{
        text-align: center;
        margin: 18% 30% 10px 23%;
        /* background-color: aqua; */
        width: 56%;
    
    }
    
    
    input{
        text-align: center;
        width: 80%;
        margin: 5%;
    }
    
}
